<div class="main">
  <div class="header">
    <div class="section1">
      <div class="title">
        <h1>A2Z</h1>
      </div>
    </div>
    <div class="section2">
      <div class="user">
        <a class="p-3 " (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- d-none d-md-block to hide the sidebar while mobile view -->
      <div class="col-md-2 sidebar col-sm-1 col-xs-1">

        <div class="links">
          <div class="link-head" routerLink="">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Home
            </div>
          </div>
          <div class="link-head" routerLink="brand">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Brand
            </div>
          </div>
          <div class="link-head" routerLink="category">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Category
            </div>
          </div>
          <div class="link-head" routerLink="product">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Product
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-10">
        <div class="wrapper">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>
</div>