<div class="main">
  <div class="header">
    Header
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- d-none d-md-block to hide the sidebar while mobile view -->
      <div class="col-md-2 sidebar d-none d-md-block">

        <div class="links">
          <div class="link-head" routerLink="brand">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Brand
            </div>
          </div>
          <div class="link-head" routerLink="category">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Category
            </div>
          </div>
          <div class="link-head" routerLink="product">
            <div class="icon">
              ic
            </div>
            <div class="title">
              Product
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-10">
        <div class="wrapper">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>
</div>